<h1>
  
Convert <%= @f_symbol %>

</h1>

<a href="/">back</a>

<ul>
  <% @currencies.keys.each do |symbol| %>
    <li>
      <a href="/<%= @f_symbol %>/<%= symbol %>">convert 1 <%= @f_symbol %> to <%= symbol %>...</a>
    </li>
  <% end %>
</ul>
